body{
    width: 60%;
    background-color: #efefef;
    margin: 0 auto;
}
img{
    width: 100%;
    margin-top: 20px;
}
#container{
    background-color: #fff;
    padding: 20px;
}
h1{
    background-color: #255176;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #efeace;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-top: 0;
}
h2{
    margin-top: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
}
input[type="text"]{
    font-size: 20px;
    width: 60%;
    height: 30px;
    padding-left: 20px;
    margin: 60px 16%;
}
input[type="submit"]{
    font-size: 14px;
    width: 200px;
    padding: 10px;
    background-color: #c9b91c;
    margin-left: 36%;
}