#container{
    background-color: #fff;
    padding: 20px;
}
.background{
    width: 100%;
    margin-top: 20px;
}
.column{
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    width: 20.28%;
}
.image{
    float: left;
}
.region{
    background-color: #fff;
    padding: 20px;
    margin: 0;
}
.lineup{
    display: inline-block;
    margin-top: 0;
}
.update{
    padding-left: 10px;
}
.forecast{
    background-color: #fff;
    padding: 20px;
}
.message{
    width: 100%;
    display: inline-block;
    float: left;
}
.title{
    text-align: center;
    background-color: #255176;
    padding: 10px;
    color: #efeace;
    margin: 0;
}
.forecast h3{
    margin-top: 0;
}
.current{
    float: left;
}
.day1{
    float: left;
}
.day2{
    float: left;
}
.day3{
    float: left;
}
body{
    width: 60%;
    background-color: #efefef;
    margin: 0 auto;
}
h1{
    background-color: #255176;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #efeace;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-top: 0;
}
h2{
    margin: 5px 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
h3{
   font-family: 'Source Sans Pro', sans-serif;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}
footer p{
    text-align: center;
    padding: 5px;
    background-color: #255176;
    color: #efeace;
    font-size: 14px;
    margin-bottom: 30px;
}
input[type="text"]{
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 60%;
    height: 30px;
    padding-left: 20px;
    margin: 0 18%;
}
input[type="submit"]{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
    padding: 10px;
    background-color: #c9b91c;
    margin-left: 37%;
    margin-top: 30px;
    border: 1px solid #255176;
}
input[type="submit"]:hover{
    background-color: #255176;
    color: #efeace;
}
.userInput{
    background-color: #fff;
    padding: 30px 0;
}




