body{
    background-color: #222e3c;
    width: 60%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-family: arial, sans-serif;
    color: #282828;
    padding: 40px;
    background-color: #5f86a5;
    border-bottom: 1px solid #efefef;
}
h2{
  color: #282828;
  padding-left: 20px;
}
input[name="user"]{
    height: 20px;
    width: 400px;
    margin: 0 0 20px 20px;
    padding-left: 20px;
}
.container{
    background-color: #47b049;
}
p{
    background-color: #47b049;
    margin-top: -10px;
    padding: 10px;
}
